@import 'bootstrap';

@import url(https://fonts.googleapis.com/css?family=Oxygen|Yesteryear);

$color : rgb(186, 12, 47);

body {
	margin:0;
	padding:0;
	color: $color;
	background:$color;
	margin:5vh 5vh 0 8vw;
	font-family: 'Oxygen', sans-serif;
	font-size:16px;
}

#header, #main {
	background:white;
	padding:4em 6em 1em;
}

#main {
	padding-top:1em;
	padding-bottom:0;
}

ul {
	margin:0;
	padding:0;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

h1, .h1, h2, .h2 {
	font-family: 'Yesteryear', serif;
	margin-left: 0.2em;
}

h3, .h3, h4, .h4 {
	color:black;
	font-weight:bold;
}

#header {
	h1 {
		text-shadow:rgba(0,0,0,0.3) 1px 1px 0px;
		font-size:4em;
		padding-bottom:0;
	}
	h2 {
		color:#777;
		font-size:2em;
		padding-top:0;
		margin-bottom:1.5em;
		margin-left:3.5em;
		position:relative;
		display:inline-block;
		&:after {
			content:"not good enough";
			position: absolute;
			color: transparent;
			right:0;
			text-shadow: 
				rgba(0,0,0,0.15) 0.5em 0.9em 0,
				rgba(0,0,0,0.1) 1em 1.8em 0,
				rgba(0,0,0,0.05) 1.5em 2.7em 0;
		}
	}
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: $color;
}
.nav>li>a {
    padding: 0.5em 2.5em;
    border-radius: 0;
}

a {
    color: $color;
}

.binder-spine {
	list-style: none;
	display:inline-block;

	&-graphic {
		width: 100%;
		height: 600px;
		height: 50vh;
		cursor:pointer;
		display:inline-block;
		background-color:grey;
	}
	&-1 {
		background-color:$color;
	}
	@for $i from 2 through 12 {
		&-#{$i} {
			background-color: adjust-hue($color, -26% * $i);
			/* hsl($i*25, 100, 48); */
		}
	}
		
}

.tab-section {
	display:none;
	color:black;
	padding:1em 0 2em;
}

@media (max-width: 1200px) {
	body {
		margin-right:0;
		margin-left: 0;
		font-size:18px;
	}
	.binder-spine-graphic {
		height: 75vh;
	}
}
@media (min-width: 1200px) {
	.binder-spine-graphic {
		height: 100vh;
	}
	body {
		overflow:hidden;
	}
}